@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Rubik', sans-serif;
    background-color: #FFFFFF;
  }
  
  #root {
    background-color: #FFFFFF;
    min-height: 100vh;
  }
}

html[dir="rtl"] {
  direction: rtl;
}

html[dir="ltr"] {
  direction: ltr;
}
