@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        font-family: 'Rubik', sans-serif;
        background-color: #FFFFFF;
    }
    * {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    #root {
        background-color: #FFFFFF;
        min-height: 100vh;
    }
}

html[dir="rtl"] {
    direction: rtl;
}

html[dir="ltr"] {
    direction: ltr;
}
:root {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    position: fixed;

}

#root {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: none;
}

